<html>
    <h1>Ingresar un Docente</h1>
    <form action="." method="post">
        <div>
            <label>
                Nombre Docente:
            </label>
            <input type="text" name="nombre" required>
        </div>
        <div>
            <label>
                Apellido Docente:
            </label>
            <input type="text" name="apellido" required>
        </div>
        <div>
            <label>
                Email Docente:
            </label>
            <input type="email" name="email" required>
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>

</html>